n8n_workflow.json
{
  "name": "Lead Capture Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "ea7bb793-9b41-409e-9f4b-c9ae6b17fad5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/leads",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "725d06c6-3168-453b-8e59-9f72e5b0b60f",
      "name": "Get All Leads"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a6c4c36f-a3f9-4050-a3cc-93711b1ea264",
              "leftValue": "={{ $json.classification }}",
              "rightValue": "Hot",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "69a3037a-df7c-4c46-b18b-0789161c7089",
      "name": "Hot Leads Only"
    },
    {
      "parameters": {
        "sendTo": "sonanimansi4@gmail.com",
        "subject": "=🔥 New Hot Lead: {{ $json.name }}",
        "emailType": "text",
        "message": "=New Hot Lead received!  Name: {{ $json.name }} Email: {{ $json.email }} Phone: {{ $json.phone }} Message: {{ $json.message }} Suggested Reply: {{ $json.suggested_reply }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "0f5918ae-705c-44b0-b2ad-59a4542f5751",
      "name": "Send Hot Lead Email",
      "webhookId": "ab6b40f4-1a5b-4b89-88c9-b867ccbf20a2",
      "credentials": {
        "gmailOAuth2": {
          "id": "3CuVZBRuipTiNtY0",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get All Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Leads": {
      "main": [
        [
          {
            "node": "Hot Leads Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hot Leads Only": {
      "main": [
        [
          {
            "node": "Send Hot Lead Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "19258da7-f49e-4d10-a83b-ac50a39b43cc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8cd6f469af2103c194c3c875ebd207bbfbc25ae03d0e925004d2ab8397bf359"
  },
  "id": "hMpCzUNTYq33doM8",
  "tags": []
}